h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Text           
            input#name.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='parks.textAnalysis($("#name").val())') Search
